@import "../../../../../assets/_var.scss";

.customSelectPicker {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 3.4rem;

  .form-label {
    font-weight: 400;
    font-size: 14px;
    color: $white;
    margin-bottom: 0.8rem;

    @media (max-width: 1679px) {
      margin-bottom: 0.4rem;
    }

    @media (max-width: 575px) {
      font-size: 12px;
    }
  }

  .react-select {
    &__control {
      background-color: $black;
      border: 0.1rem solid rgba($secondaryColor, 0.3);
      color: $white;
      border-radius: 0.8rem;
      padding: 0.65rem 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: $white;
      width: 100%;
      color: $gray2;
      cursor: pointer;
      position: relative;
      box-shadow: none;


      &:hover,
      &:focus,
      &.react-select__control__--is--focused {
        border: 0.1rem solid rgba($secondaryColor, 0.3);
        box-shadow: none;
      }

      @media (max-width:1679px) {
        height: 6rem;
      }

      @media (max-width:767px) {
        width: 100%;
      }

      .react-select__single-value {
        color: $white;
      }

      .react-select__indicators {
        display: none;
      }

      &::after {
        content: "";
        background-image: url(../../../../../assets/images/icons/green-down-arrow.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 1.1rem;
        height: 0.65rem;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__menu {
      background-color: $black;
      border: 0.1rem solid rgba($secondaryColor, 0.7);
      z-index: 2;
      width: 100%;
      position: absolute;
      transform: translateY(0px);
      border-radius: 0.8rem;
      overflow: hidden;

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $secondaryColor;
      }

      @media (max-width:767px) {
        width: 100%;
      }

      .react-select__menu-list {
        padding: 0;
      }

      .react-select__option {
        background-color: rgba($black, 0.6);
        color: $white;
        padding: 1.5rem;

        &:hover {
          background-color: rgba($secondaryColor, 0.7);
        }
      }


      li {
        list-style-type: none;
        padding: 1.8rem 1.6rem;
        font-size: 1.4rem;
        text-align: start;
        border-bottom: 1px solid #ECECEC;
        cursor: pointer;

        &:last-child {
          border-bottom: 0;
        }

        &:hover {
          background-color: $secondaryColor;
          color: $white;
        }
      }
    }
  }

  .react-select__control__--is--focused {
    border: 0.1rem solid rgba($secondaryColor, 0.7);
  }
}