@import "./assets/_var.scss";
@import './assets/fontnew/stylesheet.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.toggleBtn.btn {
  // background-image: $buttonGradient;

  &:focus,
  &:hover {
    background-color: transparent;
  }
}

.btn-close {
  color: white;
}

.icon {
  cursor: pointer;
}

html {
  font-size: 62.5%;

  // background-image: $bgGradient;
  body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    font-family: $baseFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-image: $bgGradient;
    // background: $baseGradient;
    color: $baseColor;
  }
}

html,
body,
#root {
  // height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// *body {}

.item_img {
  @media (max-width: 991px) {
    margin-top: 4rem;
  }

  &_box {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40.8rem;
    text-align: center;
    border: 1px solid #0e0f0c36;
    border-radius: 1rem;
    cursor: pointer;

    h3 {
      font-size: 2rem;
      margin-top: 2.5rem;
    }

    h4 {
      font-size: 2rem;
      margin-top: 1.2rem;

      span {
        color: $baseText;
      }
    }

    p {
      margin-top: 8.3rem;
    }

    .form-control,
    .common_input,
    .common_input_inner {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100% !important;
      background-color: transparent;
      border: none;
      opacity: 0;
    }
  }

  .removeImg {
    height: 3rem;
    width: 3rem;
    color: $white;
    background-color: red;
    font-weight: bold;
    border-radius: 50%;
    border: none; // @extend %transition;
    opacity: 0;
  }

  .block {
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ced4da;
    padding: 20px;
    background-position: center;

    &:hover {
      backdrop-filter: blur(0.5rem);

      .removeImg {
        opacity: 1;
      }
    }
  }
}

.item_img_sec {
  margin-top: 2.3rem;

  .row {
    gap: 2rem;
  }

  >div {
    flex-shrink: 0;

    img {
      width: 7rem;
      height: 7rem;
      border-radius: 0.4rem;
      margin-right: 1.6rem;
    }
  }

  .image_folder {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  .cross_icon {
    position: relative;

    span {
      position: absolute;
      top: 0px;
      left: -25px;
      width: 20px;
      height: 20px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  .plus {
    width: 7rem;
    background: $buttonGradient;
    height: 7rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0.4rem;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    // &:active {
    //   background: $secondaryColor;
    // }

    input[type="file"] {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

// reset css

.row {
  // margin: 0 -15px;

  >div {
    padding: 0 15px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  // transition: 0.2s all ease-in-out;
  // color: $baseText;

  // &:hover {
  //   // color: $baseColor;
  // }
}

.commonBtnsGroup {
  span {
    &:first-child {
      height: 16px;
    }
  }

  span,
  a {
    padding: 0 5px;
  }

  a {
    color: $baseText;
    text-decoration: unset;
  }
}

// img,
// svg {
//   // max-width: 100%;
// }

ul {
  padding-left: 0;
  list-style: none;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2,
.h2 {
  font-size: 4.8rem;

  @media (max-width: 1679px) {
    font-size: 3.8rem;
  }

  @media (max-width: 991px) {
    font-size: 3rem;
  }

  @media (max-width: 575px) {
    font-size: 2.2rem;
  }
}

h3,
.h3 {
  font-size: 3.2rem;

  @media (max-width: 1679px) {
    font-size: 2.6rem;
  }

  @media (max-width: 991px) {
    font-size: 2.2rem;
  }

  @media (max-width: 575px) {
    font-size: 1.8rem;
  }
}

h4,
.h4 {
  font-size: 2.2rem;

  @media (max-width: 1679px) {
    font-size: 1.8rem;
  }

  @media (max-width: 991px) {
    font-size: 1.6rem;
  }

  @media (max-width: 575px) {
    font-size: 1.4rem;
  }
}

h5,
.h5 {
  font-size: 2rem;

  @media (max-width: 1679px) {
    font-size: 1.6rem;
  }

  @media (max-width: 991px) {
    font-size: 1.4rem;
  }

  @media (max-width: 575px) {
    font-size: 1.2rem;
  }
}

h6,
.h6 {
  font-size: 1.8rem;

  @media (max-width: 1679px) {
    font-size: 1.4rem;
  }

  @media (max-width: 575px) {
    font-size: 1.1rem;
  }
}

p,
.p {
  font-size: 1.6rem;

  @media (max-width: 1679px) {
    font-size: 1.4rem;
  }

  @media (max-width: 991px) {
    font-size: 1.2rem;
  }

  @media (max-width: 575px) {
    font-size: 1rem;
  }
}

small,
.small {
  font-size: 1.4rem;
}

// font weight

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 700;
}

.base-pink {
  color: $basePink;
}

.fade-pink {
  color: $baseFadePink;
}

.base-blue {
  color: $blueBase;
}

.pointer {
  cursor: pointer;
}

.success {
  color: green;
}

.failed {
  color: red;
}

.pending {
  color: orange;
}

.cursor-pointer {
  cursor: pointer !important;
}

.green-text {
  color: $secondaryColor !important;
}

.group_form {
  position: relative;

  .eyeIcon {
    position: absolute;
    right: 22px;
    top: 40px;
    cursor: pointer;

    @media (max-width: 575px) {
      top: 34px;
    }
  }
}

.label_form {
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 0.8rem;
}

// .form-control {
//   &:not([type="checkbox"]):not([type="radio"]) {
//     height: 5rem;
//     border-radius: 1rem;
//     background-color: $inputbg;
//     font-size: 1.4rem;
//     color: $white;
//     padding: 1.6rem 2rem;
//     border: 1px solid $inputborder;
//     color: $gray2;
//     // border: 0;
//     font-weight: 500;
//     // @extend %transition;
//     overflow: clip;

//     @media(max-width: 1279px) {
//       height: 4.4rem;
//     }

//     &::placeholder {
//       opacity: 1;
//       color: $gray2;
//     }

//     &:-moz-placeholder {
//       opacity: 1;
//       color: $inputbg;
//     }

//     &::-webkit-input-placeholder {
//       opacity: 1;
//       color: $inputbg;
//     }

//     &:focus {
//       box-shadow: none;
//       // background-color: $gray98;
//     }
//   }
// }

.page_nation {
  margin-top: 3.6rem;
  text-align: center;
}

.btn_sec {
  display: flex;
  margin-top: 3.6rem;
  margin-bottom: 4.6rem;
  justify-content: space-between;

  @media (max-width: 1199px) {
    margin: 3rem 0;
  }

  @media (max-width: 767px) {
    margin: 2rem 0;
  }

  >button {
    flex: 0 0 48%; // width: 21.5rem;
    height: 6rem;

    @media (max-width: 1199px) {
      height: 5rem;
    }

    @media (max-width: 767px) {
      height: 4rem;
    }
  }
}

// perfect scrollbar
.scrollbar-container {
  padding: 0 !important;

  .ps__thumb-y {
    background: #c8c8c8;
    border-radius: 33px;
    width: 7px !important;
    right: 4px;
  }

  .ps__rail-x {
    display: none;
  }

  .ps__rail-y {
    // position: relative;
    // right: -2px;
    width: 15px !important;
    background: $gray2 !important;
    border-radius: 29px;
    // margin-right: -3px !important;
  }
}

// .ps .ps__rail-x:hover,
// .ps .ps__rail-y:hover,
// .ps .ps__rail-x:focus,
// .ps .ps__rail-y:focus,
// .ps .ps__rail-x.ps--clicking,
// .ps .ps__rail-y.ps--clicking {
//   background: $grey2 !important;
//   border-radius: 8px;
//   width: 15px !important;
// }

.ps__thumb-x {
  background: #c8c8c8;
  height: 8px !important;
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background: #c8c8c8;
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background: #c8c8c8;
  height: 3px !important;
}

textarea.create_msg {

  &:hover,
  &:focus {
    border-color: $inputFocus-hover;
  }
}

.common_radio {
  .form-label {
    margin-right: 10px;
  }

  label {
    margin-left: 3px;
  }

  input[type="radio"] {
    margin-left: 10px;
    accent-color: #cc1e45;
  }
}

input,
.customInput:focus-visible {
  outline: unset;
}

.back-button {
  color: black;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;

  svg {
    margin-right: 10px;
  }
}

.fluid {
  width: 100%;
}


.offcanvas-backdrop {
  z-index: 700;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 10rem;
  // background-color: #ffbf94;
  background-color: #8e97ff;

}

::-webkit-scrollbar-thumb {
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba($white , 0.2);
  border-radius: 10rem;
}


.Toastify {

  .Toastify__toast-container {
    border-radius: 8px;

    >div {

      background: linear-gradient(90deg, #FFDEC6 0%, #FFBF94 100%);
      color: #001F54;

    }
  }
}